<h1 style="text-align: center" class="mt-3">Functions </h1>
<div class="row">
  <div class="alert alert-danger" role="alert" [hidden]="!deleted">
    The function was successfully deleted
  </div>
  <div class="col-12 mb-4" style="text-align: right" >
    <a href="#" class="btn btn-success"  title="Add" [routerLink]="['/fonctions/add']">
      <i class="bi bi-person-plus-fill"></i>
      Add a new function
    </a>
  </div>
  <div class="col-12">
    <table id="table" class="table table-striped text-center" style="width:100%;">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Label</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fonction of fontions">
        <td class="align-middle">{{fonction.id}}</td>
        <td class="align-middle">{{fonction.label}}</td>
        <td class="align-middle">{{fonction.description}}</td>
        <td class="align-middle">
          <button (click)="updateFonction(fonction.id)" class="btn btn-primary me-2 mat-raised-button" title="Edit">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger mat-raised-button" (click)="deleteFonction(fonction.id)" title="Delete">
            <i class="bi bi-dash-circle"></i>
          </button>
        </td>
      </tbody>
    </table>
    <app-pagination [currentPage]="page"></app-pagination>
  </div>
</div>
